@charset "utf-8";

body {
	width:100%;
	height:100%;
	overflow-x:hidden;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;

}
.rightpart a {
	color:#4a90e2;
}
.fixleftmenu {
	background-color:#3B495B;
	position:fixed;
	left:0;
	top:0;
	width:223px;
	height:100%;
}
.rightpart {
	padding:0 0 0 223px;
	background-color:#f9f9fb;
	height:100%;
}
.logo {
	margin:30px auto;
	width:143px;
	display:block;
}
.logo img {
	margin:0 auto;
	display:block;
}
.mainmenu {
	padding:0 24px 0 40px;
	margin:0;
}
.mainmenu li a {
	padding:10px 0;
	text-align:left;
	font-size:15px;
	line-height:normal;
	display:block;
	color:#a8b7c5;
	text-decoration:none;
	border:0 none;
	background-color:transparent;
}
.mainmenu li:hover a,
.mainmenu li.active a {
	color:#50e3c2;
}
.avatar {
	width:48px;
	height:43px;
	overflow:hidden;
	position:relative;
}
.avatarwrap {
	background:transparent url("../images/avatar_bg_wrap.png") no-repeat center center;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	display:block;
}
.rightmenu {
    margin: 0;
    padding: 0;
}
.pagetop {
	background-color:#ffffff;
	padding:20px 0;
}
.rightmenu.navbar-nav>li>a {
    padding: 8px 15px;
}
 .rightmenu.navbar-nav>li>a {
 	color:#8CA0B3;
 }
.rightmenu.navbar-nav>li.avatardropdown>a {
	padding:0;
}
.rightmenu.navbar-nav>li.avatardropdown>a:hover {
	background-color:transparent;
	cursor:pointer;
}
.pagetop h1 {
	margin: 0;
    font-weight: 300;
    padding: 0 0 0 23px;
    color: #3B495B;
    font-size: 32px;
    line-height: normal;
}
.rightmenu.navbar-nav>li>a i {
    font-size: 21px;
    margin-top: 3px;
}
.rightmenu>.avatardropdown>a figure + i {
    margin: 9px 9px 0;
    display: inline-block;
}
.white-bg {
    background-color: #ffffff !important;
}
.infobox {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.filter_form {
    margin: 10px 0;
}
.filter_form .form-group {
    min-width: 176px;
    margin-left: 25px;
}
.ml_0 {
    margin-left: 0 !important;
}
.filter_form .searchinput {
    min-width: 546px;
    position: relative;
}
.assignmebtn {
	background-color:#F5F6F8;
	border-color:#F5F6F8;
	color:#3b495b;
    font-weight: 500;
    font-size: 16px;
}


.assignmebtn:hover {
    background-color: #3b495b;
    border-color: #3b495b;
    color: #ffffff;
}


select.minimal {
  background-image: linear-gradient(45deg, transparent 50%, #C4C8CD 50%),
    linear-gradient(135deg, #C4C8CD 50%, transparent 50%),
    linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:12px 5px, 7px 9px, 1px 1.5em;
  background-repeat: no-repeat;
    -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal:focus {
  background-image: linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, transparent, transparent);
  background-position: calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
/*https://codepen.io/vkjgr/pen/VYMeXp*/

select.minimal:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}


.filter_form .form-control {
	background-color: #F9F9FB;
    height: 49px;
    border: 2px solid #d4d8dc;
    color: #617283;
    font-size: 17px;
    line-height: normal;
    width: 100%;
    box-shadow: none;
    padding: 2px 10px;
}

.searchinput button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 20px;
    border-color: transparent;
    background-color: transparent;
    color: #AAB1B9;
    border-radius: 0;
}
select.arrowicon + i.fa {
	color:#637485;
    float: right;
    margin-top: -30px;
    margin-right: 5px;
    pointer-events: none;
    background-color: #fff;
    padding-right: 5px;
}
.searchinput button:hover {
    background-color: transparent;
    color: #637485;
    border-color: transparent;
}
.content {
	padding:15px;
}
.cstable table thead th {
	background-color:#F5F5F5;
	border-color:#F5F5F5;
	padding:12px;
	color:#617283;
}
.cstable table tbody td {
    background-color: #ffffff;
    border-color: #ececec;
    padding: 20px 12px;
    color: #3c4a5c;
}
.subtitle {
    color: #617283;
    font-weight: 300;
    margin:0;
}
.addnewcatebtn {
	background-color:#f5a623;
	border-color:#f5a623;
}
.text-success {
	color:#61C46E;
}
.text-warning {
	color:#FCC15B;
}
.text-white {
	color:#ffffff;
}
.text-danger {
    color:#d0021b;
}
.dropeclip button {
    border: 0 none;
    background-color: transparent;
    color: #4f5c6b;
    font-size: 23px;
    padding: 0;
    line-height: 0;
    outline:0 none;
}
/*pagination */

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}
.pagination > li {
    display: inline;
}
.paginationew .pagination > li > a, .paginationew .pagination > li > span {
    color: #aab1b9;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 0 7px;
    padding: 7px 15px;
    border-radius: 2px;
    float: left;
}
.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus {
    cursor:not-allowed;
}

.paginationew .pagination > li a:hover, .paginationew .pagination > .active > a, .paginationew .pagination > .active > span, .paginationew .pagination > .active > a:hover, .paginationew .pagination > .active > span:hover, .paginationew .pagination > .active > a:focus, .paginationew .pagination > .active > span:focus {
    background-color: #ffffff;
    border-color: #aab1b9;
    color: #617283;
}
.paginationew .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.paginationew .pagination > li a:hover, 
.paginationew .pagination > .active > a, 
.paginationew .pagination > .active > span, 
.paginationew .pagination > .active > a:hover, 
.paginationew .pagination > .active > span:hover, 
.paginationew .pagination > .active > a:focus, 
.paginationew .pagination > .active > span:focus {
    background-color: #ffffff;
    border-color: #aab1b9;
    color: #617283;
    text-decoration:none;
}
/*end pagination*/
.linkbtn {
    border: 0 none;
}
.faqmenu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0 0 15px;
}
.faqmenu li a {
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    color: #4f5c6c;
    font-size: 17px;
    line-height: normal;
    display: block;
    text-decoration: none;
}
.bxcl {
    padding-top: 15px;
    padding-bottom: 15px;
}
.titlegrey {
    color: #647485;
    font-size: 21px;
    line-height: normal;
}
/*modal edit page etc*/
.showid label {
    color: #76808C;
    font-weight: normal;
    font-size: 20px;
    margin: 0 0 18px;
}
.showid i {
    color:#4A90E2;
}
.modal .close {
    color: #3C4A5C;
    opacity: 1;
    font-size: 40px;
    font-weight: 300;
    line-height: 22px;
}

.modal .close:hover {
    color: #ff0000;
}
.replbtn .btn {
    width: 106px;
    height: 43px;
    font-size: 16px;
    line-height: normal;
    padding: 12px 10px;
    margin: 20px 0 0;
}
.replbtn .btn-primary {
    color: #fff;
    background-color: #4A90E2;
    border-color: #4A90E2;
}
.cancelbtnsp {
    border-color:transparent;
    background-color:transparent;
    color:#576371;
}
.messagesupport {
    position: relative;
    padding: 0 0 20px 58px;
}

.messagesupport .avatar {
    position: absolute;
    left: 0;
    top: 0;
}

.commentedarea {
    padding: 20px;
    background-color: #F9F9F9;
}

.commentedarea h2 {
    margin: 0 0 14px;
    color: #000;
    font-weight: normal;
}

.commentedarea p {
    color: #6D7884;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 18px;
}
.datesp {
    color: #9E9E9E;
    font-size: 13px;
    line-height: normal;
}
.successelect {
    background-color: #61C46E;
    border-color: #61C46E;
    font-size: 20px;
    color: #fff;
    padding: 0 10px;
    height: 47px;
    border-radius: 3px;
    box-shadow: none;
    -webkit-appearance: none;
  -moz-appearance: none;
}
.successelect + i {
    float: right;
    color: #fff;
    margin: -30px 10px 0;
}
.rgform label {
    color: #617283;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    margin: 0 0 6px;
}

.withico i {
    float: right;
    margin: -24px 10px 0 0;
    font-size: 16px;
    color: #AAB1B9;
}
.rgform input.form-control {
    border-color: #d4d4d4;
    box-shadow: none;
    color: #435162;
    border-radius:3px;
}
.backlink {
    font-size: 22px;
    line-height: normal;
    margin: 0 0 20px;
    display: inline-block;
}
.backlink img {
    display: inline-block;
    margin: -3px 5px 0 0;
}
.leftfaqedit label {
    color: #6F6F6F;
    font-size: 16px;
    line-height: normal;
    font-weight: normal;
    margin: 10px 30px 0 0;
}
.rightbtnfaq label {
    color: #6F6F6F;
    font-size: 16px;
    line-height: normal;
    font-weight: normal;
    margin: 10px 30px 0 0;
}
.leftfaqedit,
.rightbtnfaq {
    padding:10px 0;
}
.rightbtnfaq .dropeclip  {
    margin:8px 0 0 20px;
}
.traingmodal label {
    color:#818F9C;
    font-size:18px;
    line-height:normal;
    margin:0 0 16px;
}
.traingmodal .form-control {
    border-color: #D2D5D9;
    height: 58px;
    color: #3B495B;
    font-size: 22px;
    line-height: normal;
}

.traingmodal textarea.form-control  {
    height:auto;
}
.gpmt30 {
    margin-top:30px;
}
.gpmt30.replbtn .btn {
    margin-left:5px;
}
.traingmodal h1 {
    font-weight: normal;
    color: #3B495B;
    margin: 0 0 50px;
}

.userback {
    padding-left:15px;
}
.shadowbox {
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -o-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.3);
}
h3.avatarname {
    font-size: 18px;
    line-height: 24px;
    color: #1e2e42;
    font-weight: normal;
    margin: 0 0 10px;
}
.avaddress {
    color: #617283;
}
.btn-success.editbtn {
    background-color: transparent;
    border-color: #6bb96f;
    color: #6bb96f;
    font-weight: 600;
    margin: -5px 10px 0 0;
}
.borderlist {
    margin: 16px 0 0;
}
.borderlist>li {
    border-top: 1px solid #ececec;
    padding: 16px 0;
}
.borderlist .sordesc {
    border: 0 none;
    margin: 0;
    padding-top: 0;
    color: #617283;
    padding: 10px 0;
    font-weight: normal;
}
.btn-success.viewbtn {
    background-color: transparent;
    border-color: #6bb96f;
    color: #6bb96f;
    font-weight: 600;
}
.btn-success.viewbtn:hover {
    background-color: #6bb96f;
    border-color: #6bb96f;
    color: #ffffff;
    font-weight: 600;
}
.smtitle {
    color: #647585;
    font-weight: 600;
    padding: 10px 0;
}
.tags {
    margin: 10px 0;
}
.tags .btn {
    display: inline-block;
    background-color: #aab1b9;
    padding: 0.3205rem 0.4rem;
    margin: 0 0 0 15px;
    position: relative;
    color: #fff;
    font-size: 9px;
    border-radius: 0;
}
.tags .btn:first-child {
    margin-left: 0;
}
.tags .btn::before {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 7px solid #aab1b9;
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: -1px;
}
.tags .btn::after {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 7px solid #aab1b9;
    content: "";
    display: block;
    position: absolute;
    right: -7px;
    top: -1px;
}
.dl-inline p {
    color: #617283;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
}
.dl-inline p strong {
    min-width: 70px;
    display: inline-block;
}
.sharelinks li {
    float: left;
}
.sharelinks li a {
    width: 35px;
    height: 36px;
    background: transparent url(../images/bkg-network-icon.png) no-repeat top center;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: #617283;
    transition-delay: 0.2s;
}
.sharelinks li a:hover {
    background-position: center -36px;
    color: #61c46e;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
}
.moreshare img {
    margin: 0 auto 0;
    display: block;
    padding: 11px 0 0;
}
.categorymodal .dropeclip {
    margin: 0 10px 0 0;
}
.categorymodal .modal-dialog {
    width: 750px;
}
.usercontrolinfo p,
.usercontrolinfo label {
    color: #637485;
    font-size: 16px;
    margin-bottom: 0;
    line-height: normal;
}
.usercontrolinfo p {
    color:#4a90e2;
}
.usercontrolinfo .subtitle {
    margin-bottom: 40px;
}

.csswitch {
    background-color: #f87d24;
    position: relative;
    top: 0;
}


.i-switch.csswitch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    background-color: #c7eacc;
    border-radius: 30px;
}
.i-switch.csswitch input {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
.i-switch.csswitch input:checked + i:before {
    top: 50%;
    right: 5px;
    bottom: 50%;
    left: 50%;
    border-width: 0;
    border-radius: 5px;
}
.i-switch.csswitch input:checked + i:after {
    margin-left: 20px;
    left:5px;
}
.i-switch.csswitch i:before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    background-color:#C6C5C5;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    content: "";
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.i-switch.csswitch i:after {
    position: absolute;
    top: -3px;
    bottom: 1px;
    width: 20px;
    height: 20px;
    background-color:#F1F1F1;
    border-radius: 100%;
    content: "";
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}


.i-switch-md.csswitch {
    width: 40px;
    height: 15px;
}
.i-switch-md.csswitch input:checked + i:after {
    margin-left: 17px;
    background-color:#61c46e;
}
/* end iswitch*/

.usermodal .modal-dialog {
    width: 750px;
    max-width: 100%;
}
.usermodal .panel-body {
    padding: 15px 33px 30px;
}
.usermodal h1 {
    font-weight: normal;
    color: #3B495B;
    margin: 0 0 50px;
}
.usermodal label {
    color: #828486;
    font-size: 15px;
    line-height: normal;
    margin: 0 0 9px;
    font-weight: normal;
}
.usermodal .form-control {
    border-color: #D2D5D9;
    height: 58px;
    color: #3B495B;
    font-size: 20px;
    line-height: normal;
    border: 2px solid #D2D5D9;
    border-radius: 6px;
    box-shadow:none;
}
.usermodal textarea.form-control {
    height:auto;
}


.icoi .fa-check-square {
    display:none;
}
.icoi i {
    color:#4A90E2;
}
.icoi {
    display:inline-block;

}
input[type=checkbox]:checked + .icoi .fa-square {
    display:none;
}
input[type=checkbox]:checked + .icoi .fa-check-square {
    display:block;
}
.usermodal label.icocheck {
    font-size: 20px;
    color: #3E4C5D;
    margin: 30px 0 0;
}